body {
  font-family: 'mono';
  background-color: #f0f0f0;
  color: #333;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

 .pageTitle{
  margin-left: 160px;
  padding: 5px 5px 5px 10px ;
  font-size: 25px;
 }

 .top-line {
   height: 1px;
   width: 100%;
   background-color: #777575; /* Adjust color as needed */
  }
  .info {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    padding: 6px 8px 6px 16px;
    z-index: 1; /* Stay on top */
    font-size: 14px;
    background-color: transparent;
    color: #afa9a9;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
/* Define a general button style */
.button {
  /* padding: 10px 15px; */
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  /* transition: background-color 0.3s ease; */
  cursor: pointer;
}

/*Define a general input style*/
.inputArea{
  border-radius: 3px;
  border-color: #afa9a9;
  margin-top: 4px;
  margin-bottom:4px;
  margin-left: 2px;
  margin-right: 2px;
}
